In [4]:
import pandas as pd
from binance import Client
import binance.exceptions
import DataUtils
import datetime
import json
import BacktestStatisticsFunctions as bsf
import numpy as np

In [5]:
df = DataUtils.GetHistoricalPriceData('BTC')
df

,Open,High,Low,Close,Volume,Close time
0,4261.48,4485.39,3850.00,4086.29,2843.431426,2017-08-20 23:59:59.999
1,4069.13,4453.91,3400.00,4310.01,4599.396629,2017-08-27 23:59:59.999
2,4310.01,4939.19,4124.54,4509.08,4753.843376,2017-09-03 23:59:59.999
3,4505.00,4788.59,3603.00,4130.37,6382.787745,2017-09-10 23:59:59.999
4,4153.62,4394.59,2817.00,3699.99,8106.705127,2017-09-17 23:59:59.999
...,...,...,...,...,...,...
247,34038.39,34243.15,26700.00,31328.89,964223.849274,2022-05-15 23:59:59.999
248,31328.89,31328.90,28654.47,30293.94,375096.223760,2022-05-22 23:59:59.999
249,30293.93,30670.51,28019.56,29468.10,430508.719910,2022-05-29 23:59:59.999
250,29468.10,32399.00,29282.36,29919.21,422401.403520,2022-06-05 23:59:59.999
0,29919.20,31765.64,26560.00,26574.53,528925.487959,2022-06-12 23:59:59.999000

In [10]:
df.rename(columns={'Close': 'close'})

,Open,High,Low,close,Volume,Close time
0,4261.48,4485.39,3850.00,4086.29,2843.431426,2017-08-20 23:59:59.999
1,4069.13,4453.91,3400.00,4310.01,4599.396629,2017-08-27 23:59:59.999
2,4310.01,4939.19,4124.54,4509.08,4753.843376,2017-09-03 23:59:59.999
3,4505.00,4788.59,3603.00,4130.37,6382.787745,2017-09-10 23:59:59.999
4,4153.62,4394.59,2817.00,3699.99,8106.705127,2017-09-17 23:59:59.999
...,...,...,...,...,...,...
247,34038.39,34243.15,26700.00,31328.89,964223.849274,2022-05-15 23:59:59.999
248,31328.89,31328.90,28654.47,30293.94,375096.223760,2022-05-22 23:59:59.999
249,30293.93,30670.51,28019.56,29468.10,430508.719910,2022-05-29 23:59:59.999
250,29468.10,32399.00,29282.36,29919.21,422401.403520,2022-06-05 23:59:59.999
0,29919.20,31765.64,26560.00,26574.53,528925.487959,2022-06-12 23:59:59.999000

In [6]:
std = bsf.StdReturn(list(df['Close']))
std * 100

11.130167206886975

In [7]:
ret = bsf.GenerateSymbolReturns(list(df['Close']))

In [8]:
np.std(ret) * 100

11.130167206886977

In [9]:
bsf.SharpeRatio(list(df['Close']))

0.12324126398596037